.game {
  text-align: center;
  background-color: #2a2a2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.gameBoard{
  background: #999;
  border: 2px solid #000;

}
.gameSettings{

}
.gameInfo{

}
.square{
  float: right;

}